<% include header %>
    
<div data-role="page">
	<% include page-header %>

	<div data-role="content">
		<p><a href="/login/facebook" class="facebookLogin"><i class="fa fa-facebook-square"></i> Login with Facebook</a></p>
	</div><!-- /content -->

</div>
    
<% include footer %>