<% include header %>
    
<div data-role="page">
	<% include page-header %>

	<div data-role="content">
		<ul>
            <li><a href="/">Map</a></li>
            <li><a href="/add">Add a Tree</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>    
        </ul>
	</div><!-- /content -->

</div>
    
<% include footer %>