<% include header %>
    
<div data-role="page">
	<% include page-header %>

	<div data-role="content">
		<a href="/" data-role="button"><i class="fa fa-map-marker"></i> Map</a>
        <a href="/add" data-role="button"><i class="fa fa-plus"></i> Add a Tree</a>
        <a href="/login" data-role="button"><i class="fa fa-sign-in"></i> Login</a>
        <a href="/logout" data-role="button"><i class="fa fa-sign-out"></i> Logout</a>    
       
	</div><!-- /content -->

</div>
    
<% include footer %>